body {
    margin: 0;
    border: 5px solid black;
    height: 100vh;
    position: relative;
}

.one {
    width: 400px;
    height: 400px;
    background-color: red;
    position: fixed;
}

.two {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-left: 1593px;
    margin-top: 700px;
}

.three {
    width: 200px;
    height: 200px;
    background-color: green;
    margin-top: -200px;
    position: fixed;
}

.four {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-left: -1595px;
    margin-top: -500px;
    position: fixed;
}